.certificates {
    padding: clamp(48px, 4.375vw, 70px) 0;
    background-color: rgba(var(--lighter-green),1.0);
    border-radius: 30px;
    overflow: hidden;

    h2 {
        margin-bottom: clamp(32px, 6.51vw, 50px);
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 41%;
        grid-gap: 8px 20px;

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px 20px;

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__list {
        display: flex;

        picture,
        img {
            width: 100%;
            border-radius: 30px;
            border: 1px solid rgba(var(--white),1.0);
        }
    }

    &__picture {
        display: flex;
        margin-bottom: -70px;
    }
}