.footer {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: stretch;
  grid-gap: 30px;

  &__info {
    padding: 48px 70px 23px;
    background-color: rgba(var(--lighter-green),1.0);
    border-radius: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-bottom: 25px;

    ul {
      column-count: 3;
    }

    li + li {
      margin-top: 24px;
    }
  }

  &__bot {
    padding-top: 25px;
    border-top: 2px dashed rgba(var(--white), 0.4);
  }

  &__terms {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;

    a {
      font-size: 14px;
      line-height: 100%;
      font-weight: 400;
      text-decoration: underline;
      color: rgba(var(--white), 0.5);
    }
  }

  &__copyright {
    font-size: 10px;
    line-height: 120%;
    font-weight: 500;
    color: rgba(var(--white), 0.8);
  }

  &__contact {
    position: relative;
    padding: 70px;
    background-color: rgba(var(--cl-h),1.0);
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}