header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 30;
}

.header {
  padding-top: 32px;

  &__logo {
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 55px;
    }

    li:nth-last-child(2) {
      margin-left: 255px;
    }

    a {
      font-size: 14px;
      line-height: 100%;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}