.information {
    background-color: rgba(var(--lighter-green),1.0);
    border-radius: 30px;

    &__benefits {
        padding: clamp(48px, 4.375vw, 70px) 0 clamp(48px, 6.25vw, 100px);

        h2 {
            margin-bottom: 0;
        }

        &-top {
            margin-bottom: clamp(32px, 4.063vw, 65px);
            display: grid;
            grid-template-columns: auto 49%;
            grid-gap: 32px 62px;

            @include tablet {
                grid-template-columns: 100%;
            }
        }

        &-descr {
            // max-width: 541px;
            font-size: 18px;
            font-weight: 500;
        }

        &-content {
            display: grid;
            grid-template-columns: auto 49%;
            grid-gap: 48px 62px;
            align-items: flex-start;

            @include tablet {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
        }

        &-picture {
            position: relative;
            border-radius: 23px;
            background-color: rgba(var(--neitral-green),1.0);
        }

        &-image {
            display: flex;
            margin-top: -10%;
        }

        &-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: clamp(32px, 2.25vw, 36px) 20px;

            @include small-tablet {
                grid-template-columns: 100%;
            }
        }

        &-item {
            div {
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 200px;
                background-color: rgba(var(--neitral-green),1.0);
            }

            span {
                display: block;
                margin-bottom: 10px;
                line-height: 140%;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    &__usage {
        padding: clamp(48px, 5.625vw, 90px) 0 clamp(48px, 5.938vw, 95px);
        border-top: 2px dashed rgba(var(--white), 0.4);

        h2 {
            margin-bottom: clamp(32px, 3.125vw, 50px);
        }

        &-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 8px 20px;

            @include tablet {
                display: flex;
                flex-direction: column;
            }
        }

        &-instructions {
            @include tablet {
                display: contents;
            }
        }

        &-instruction,
        &-recommendation {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                line-height: 140%;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        &-instruction {
            margin-bottom: 24px;
        }

        &-recommendation {
            margin-bottom: clamp(32px, 3.516vw, 36px);
        }

        &-link {
            @include tablet {
                order: 1;
                margin: 40px auto 0;
                max-width: 249px;
                width: 100%;
            }
        }

        &-info {
            padding: 10px 10px clamp(24px, 6.901vw, 53px) 10px;
            background-color: rgba(var(--neitral-green),1.0);
            border-radius: 30px;
        }

        &-heading {
            margin-bottom: clamp(16px, 3.255vw, 25px);
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                line-height: 140%;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        &-icon {
            width: 44px;
            height: 44px;
            border-radius: 200px;
            background-color: rgba(var(--lighter-green),1.0);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(var(--white),1.0);

            svg {
                fill: currentColor;
            }
        }

        &-details {
            padding: 0 clamp(24px, 5.99vw, 46px) 0 clamp(34px, 5.208vw, 40px);
            display: flex;
            flex-direction: column;
            gap: clamp(10px, 1.953vw, 15px);

            li {
                list-style-type: disc;
                font-weight: 700;
            }
        }
    }
}