.promo {
    overflow: hidden;
    padding: clamp(48px, 4.375vw, 70px) 0;
    background-color: rgba(var(--cl-h),1.0);
    border-radius: 30px;

    @include mobile {
        padding-bottom: 100px;

        .container {
            padding: 0 16px;
        }
    }

    &__wrapp {
        position: relative;
        z-index: 3;
        display: grid;
        grid-template-columns: auto 51%;
        justify-content: space-between;
        grid-gap: 32px 0;

        @media (max-width: 992px) {
            grid-template-columns: 100%;

            h2 {
                margin-bottom: 12px;
            }

            .subtitle {
                margin-bottom: 24px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__summary {
        position: relative;
        width: fit-content;
        padding: 11px 30px 11px 0;
        background-color: rgba(var(--lighter-green),1.0);
        border-radius: 0 40px 40px 0;
        font-size: clamp(24px, 2.083vw, 30px);
        line-height: 100%;
        font-weight: 300;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 200%;
            left: -199%;
            top: 0;
            background-color: rgba(var(--lighter-green),1.0);
        }

        p {
            font-weight: 800;
        }

        span {
            font-size: 24px;
            text-decoration: line-through;
            color: rgba(var(--white), 0.5);;
        }

        @media (max-width: 374px) {
            font-size: 18px;

            span {
                font-size: 20px;
            }
        }
    }

    &__details {
        padding: 40px clamp(20px, 3vw, 48px);
        background-color: rgba(var(--lighter-green),1.0);
        border-radius: 30px;

        @media (max-width: 992px) {
            padding: 32px clamp(32px, 4.688vw, 48px);
            display: flex;
            flex-direction: column;
        }

        @include mobile {
            padding: 32px 16px;
        }
    }

    &__head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 24px;

        p {
            font-weight: 500;
            text-transform: uppercase;
        }

        @include mobile {
            display: contents;

            p {
                display: block;
                margin-bottom: 24px;
            }
        }
    }

    &__item {
        margin-top: -99px;
        display: flex;

        @include mobile {
            order: 1;
            margin-top: 0;
            justify-content: center;
            height: 180px;
            margin-bottom: -180px;
        }
    }

    &__counter {
        margin-bottom: 30px;
        display: flex;

        li {
            flex-basis: 30%;
            border-right: 2px dashed rgba(var(--white), 0.4);
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &:first-child {
                flex-basis: 25%;
                justify-content: flex-start;
            }

            &:last-child {
                flex-basis: 25%;
                justify-content: flex-end;
                border-right: none;
            }

            span {
                font-size: clamp(32px, 3.472vw, 50px);
                line-height: 100%;
                font-weight: 800;

                @media (max-width: 374px) {
                    font-size: 26px;
                }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px 20px;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__remaining {
        span {
            padding: 3px 9px;
            background-color: rgba(var(--white),1.0);
            border-radius: 290px;
            font-weight: 700;
            color: rgba(var(--lighter-green),1.0);
        }

    }
}