.results {
    position: relative;
    padding: clamp(48px, 4.375vw, 70px) 0;
    background-color: rgba(var(--lighter-green), 1.0);
    border-radius: 30px;

    @include tablet {
        padding-bottom: 123px;
        overflow: hidden;
    }
    
    &__big-bg {
        position: absolute;
        top: -22%;
        right: -10px;
        display: flex;
        width: clamp(350px, 29.653vw, 427px);
        height: clamp(295px, 28.333vw, 408px);

        @include tablet {
            top: initial;
            right: -6%;
            bottom: -2%;
            z-index: 10;
            width: clamp(210px, 34.18vw, 350px);
            height: clamp(245px, 28.809vw, 295px);
        }
    }

    &__middle-bg {
        position: absolute;
        top: 0;
        left: 45%;
        transform: translate(-45%);
        display: flex;
        width: 152px;
        height: 139px;

        @include tablet {
            top: initial;
            left: clamp(100px, 19.531vw, 200px);
            bottom: 0;
            transform: initial;
        }
    }

    &__middle2-bg {
        position: absolute;
        top: -20px;
        left: 65%;
        transform: translate(-65%);
        display: flex;
        width: clamp(190px, 15.903vw, 229px);
        height: clamp(190px, 15.903vw, 229px);

        @include tablet {
            top: initial;
            left: -50px;
            bottom: -30px;
            transform: initial;
        }
    }

    &__sliders {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: clamp(8px, 3.125vw, 32px) 20px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 32px;
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__slider {
        overflow: hidden;
        border: 2px solid rgba(var(--white),1.0);
        border-radius: 30px;

        & > div {
            display: flex;
        }

        img {
            max-width: initial;
            height: 100% !important;
        }
    }
}
