<footer class="footer">
  <div class="footer__info">
    <div class="footer__top">
      <a href="/" class="footer__logo">
        <picture>
          <source type='image/webp' srcset='img/logo.webp'>
          <img width='85' height='85' src='img/logo.png' alt='FirGen'>
        </picture>
      </a>

      <div class="footer__schedule">Графік работи: <span>09:00 - 21:00</span></div>
    </div>

    <nav class="footer__nav">
      <ul>
        <li>
            <a href="#">Переваги</a>
        </li>
        <li>
            <a href="#">Як приймати</a>
        </li>
        <li>
            <a href="#">Cклад</a>
        </li>
        <li>
            <a href="#">Гарантії</a>
        </li>
        <li>
            <a href="#">Доставка</a>
        </li>
        <li>
            <a href="#">Відгуки</a>
        </li>
      </ul>
    </nav>

    <div class="footer__bot">
      <ul class="footer__terms">
        <li><a href="#">Умови гарантії та повернення</a></li>
        <li><a href="#">Угода користувача</a></li>
        <li><a href="#">Політика конфеденційності</a></li>
      </ul>

      <p class="footer__copyright">Copyright © 2010-2024</p>
    </div>
  </div>

  <div class="footer__contact">
    <div class="subtitle">Не втрачайте шанс змінити своє життя!</div>

    <form class="form">
      <fieldset>
        <input type="text" name="name" placeholder="Введіть ваше ім'я">
      </fieldset>
      <fieldset>
        <input type="tel" name="tel" placeholder="Введіть номер телефону">
      </fieldset>
      <button class="submit" type="submit">
        <p>замовити зараз</p>
        <span>
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#pill'></use>
          </svg>
        </span>
      </button>
      <p class="form__text">Ми повернемо Вам гроші, якщо після прийому курсу Ваша вага не зменшиться</p>
    </form>
  </div>
</footer>