<header>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <a href="#">
                    <picture>
                      <source type='image/webp' srcset='img/logo-green.webp'>
                      <img width='85' height='85' src='img/logo-greedn.png' alt='FirGen'>
                    </picture>
                </a>
            </div>

            <div class="header__link">
                <a href="#contact" class="submit anchor">
                    <p>Залишити заявку</p>
                    <span>
                      <svg width='24' height='24'>
                        <use href='img/sprite/sprite.svg#pill'></use>
                      </svg>
                    </span>
                </a>
            </div>

            <div class="header__mobile">
                <button class="burger">
                    <span></span>
                    <span></span>
                </button>

                <div class="header__mobile-menu">
                    <nav class="header__nav navigation">
                        <ul>
                            <li>
                                <a href="#benefits" class="anchor">Переваги</a>
                            </li>
                            <li>
                                <a href="#usage" class="anchor">Як приймати</a>
                            </li>
                            <li>
                                <a href="#composition" class="anchor">Cклад</a>
                            </li>
                            <li>
                                <a href="#certificates" class="anchor">Гарантії</a>
                            </li>
                            <li>
                                <a href="#delivery" class="anchor">Доставка</a>
                            </li>
                            <li>
                                <a href="#feedbacks" class="anchor">Відгуки</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>