<header>
    <div class="container">
        <div class="header">
            <!-- <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button> -->

            <nav class="header__nav navigation">
                <ul>
                    <li>
                        <a href="#">Переваги</a>
                    </li>
                    <li>
                        <a href="#">Як приймати</a>
                    </li>
                    <li>
                        <a href="#">Cклад</a>
                    </li>
                    <li>
                        <a href="#">Гарантії</a>
                    </li>
                    <li>
                        <a href="#">Доставка</a>
                    </li>
                    <li>
                        <a href="#">Відгуки</a>
                    </li>
                </ul>
            </nav>

            <div class="header__logo">
                <a href="#">
                    <picture>
                      <source type='image/webp' srcset='img/logo-green.webp'>
                      <img width='85' height='85' src='img/logo-greedn.png' alt='FirGen'>
                    </picture>
                </a>
            </div>
        </div>
    </div>
</header>