.feedback {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__top {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__avatar {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 64px;

        picture,
        img {
            border-radius: 64px;
        }
    }

    &__author {
        flex-grow: 1;
        font-size: 12px;
        line-height: 167%;
        font-weight: 500;
    }

    &__ratings {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            line-height: 140%;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__updoads {
        display: flex;

        picture,
        img {
            border-radius: 20px;
            border: 2px solid rgba(var(--white),1.0);
        }
    }
}