.submit {
    width: fit-content;
    flex-shrink: 0;
    padding: 8px 8px 8px 28px;
    background-color: rgba(var(--white),1.0);
    border-radius: 200px;
    box-shadow: 0 4px 8px 0 rgba(35, 134, 49, 0.39), 0 15px 15px 0 rgba(35, 134, 49, 0.34), 0 34px 21px 0 rgba(35, 134, 49, 0.2), 0 61px 24px 0 rgba(35, 134, 49, 0.06), 0 96px 27px 0 rgba(35, 134, 49, 0.01);
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
    color: rgba(var(--lighter-green),1.0);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    svg {
        fill: currentColor;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 200px;
        background-color: rgba(var(--lighter-green),1.0);
        color: rgba(var(--white),1.0);
    }

    &:hover,
    &:active {
        background-color: rgba(var(--darker-green),1.0);
        color: rgba(var(--white),1.0);

        span {
            background-color: rgba(var(--white),1.0);
            color: rgba(var(--lighter-green),1.0);
        }
    }

    @include tablet {
        max-width: 249px;
        width: 100%;
    }
}