// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
// --------------- default global variable ---------------
  --body-bg: rgba(var(--cl-a),1.0);
  --body-font-size: 16px;
  --content-width: 1240px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

// --------------- default js variable ---------------
  // --header-height: 72px;


// --------------- default font-family variable ---------------
  --font-primary: "Noah" , sans-serif; // var(--font-primary);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  
  --white: #{HexToRGB(#fefefe)}; // rgba(var(--white),1.0);
  --darker-green: #{HexToRGB(#1f802e)}; // rgba(var(--darker-green),1.0);
  --lighter-green: #{HexToRGB(#37b34a)}; // rgba(var(--lighter-green),1.0);
  --neitral-green: #{HexToRGB(#30a642)}; // rgba(var(--neitral-green),1.0);
  --cl-g: #{HexToRGB(#dcf0e1)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#0b3e12)}; // rgba(var(--cl-h),1.0);
}


